<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New item</title>
</head>
<body>

<form th:action="@{/items}" th:method="POST" th:object="${item}">
    <label for="itemName">Введите название вещи: </label>
    <br/>
    <input id="itemName" th:field="*{itemName}" type="text"/>
    <div style="color:red" th:errors="*{itemName}" th:if="${#fields.hasErrors('itemName')}">Name Error</div>
    <br/>
    <br/>
    <input type="submit" value="Добавить"/>
</form>

</body>
</html>